@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .head {
    width: -webkit-fill-available;
    width: -moz-available;
    font-size: 20px;
    position: fixed;
    z-index: 1101;
    top: 0;
  }
}
  .pulseAnimation{
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
.rowHTML {
 margin: 20px 0; 
}
.rowHTML b {
  display: block;
  margin: 15px 0 0;
}
.rowHTML br {
  display: none;
}

.ant-steps-item-title {
  color: rgba(0, 0, 0, 0.45) !important;
}
.ant-steps-item-description {
  color: rgba(0, 0, 0, 0.45) !important;
}